.services {
  padding-bottom: 53rem;
  margin-top: 90rem;

  border-bottom: var(--border);
  
 
  &__description {
    padding-bottom: 76rem;
  }
}

.services-block {
  background: var(--backgr-color);
  border-radius: 10rem;
  padding: 32rem;

  display: flex;
  gap: 20rem;
  align-items: start;

  &__title {
    font-weight: 500;
    font-size: 22rem;
    color: var(--white-color);
    padding-bottom: 12rem;
  }

  &__description {
    font-weight: 400;
    font-size: 16rem;
    line-height: 160%;
    color: var(--text-color);
  }
}
