html,
body {
  height: 100%;
  font-size: 1px;
}

body {
  font-size: 16rem;

  font-family: "Rubik", sans-serif;
  background: #21201e;
}

a {
  color: #fff;
  cursor: pointer;
}

.container {
  display: inline-block;
  max-width: 1440px;
  margin-inline: auto;
  padding-left: 150px;
  padding-right: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 44rem;
  color: var(--white-color);
  padding-bottom: 17rem;
}

.description {
  font-weight: 400;
  font-size: 16rem;
  line-height: 160%;
  color: var(--text-color);
  max-width: 460rem;
}
